In [1]:
import numpy as np

npz = np.load('notebooks/total_capture_train.npz')

In [2]:
npz.files

['imgname', 'center', 'scale', 'pose', 'shape', 'gender']

In [15]:
for i, row in enumerate(npz['imgname']):
    if row.any() == 0:
        print(i)

TypeError: cannot perform reduce with flexible type

In [31]:
import csv

list_of_files = []

for i, row in enumerate(npz['imgname']):
    folder = row[:-11]
    with open('test.csv', 'a', newline='') as file:
        writer = csv.writer(file)
        writer.writerow([folder])

In [26]:
unique_files, counts = np.unique(list_of_files, return_counts=True)

In [29]:
counts

array([6776, 6776, 6776, 6776, 6776, 6776, 6776, 6776, 5942, 5942, 5942,
       5942, 5942, 5942, 5942, 5942, 3671, 3671, 3671, 3671, 3671, 3671,
       3671, 3671, 3397, 3397, 3397, 3397, 3397, 3397, 3397, 3397, 3703,
       3703, 3703, 3703, 3703, 3703, 3703, 3703, 2464, 2464, 2464, 2464,
       2464, 2464, 2464, 2464, 5938, 5938, 5938, 5938, 5938, 5938, 5938,
       5938, 3518, 3518, 3518, 3518, 3518, 3518, 3518, 3518, 3386, 3386,
       3386, 3386, 3386, 3386, 3386, 5319, 5319, 5319, 5319, 5319, 5319,
       5319, 5319, 3538, 3538, 3538, 3538, 3538, 3538, 3538, 3538, 3712,
       3712, 3712, 3712, 3712, 3712, 3712, 3712])

In [1]:
import pandas as pd

df = pd.read_csv('errors.csv')

In [8]:
df.nunique()

../Datasets/TotalCapture-Toolbox/data/images/s_03_act_02_subact_01_ca_02/000745.jpg    5884
[-367.83238294  558.92735608]                                                          5884
3.404541963143194                                                                      5884
[224, 224]                                                                                1
0                                                                                      1461
[-708  218]                                                                            5838
[-27 899]                                                                              5852
141                                                                                     269
(0, -27)                                                                               1384
(218, 899)                                                                             3039
(708, 681)                                                                             4676
(0, 681)                                                                                711
dtype: int64

In [9]:
df.describe()

       3.404541963143194            0          141
count        5884.000000  5884.000000  5884.000000
mean            3.967922    -0.329193   163.853841
std             1.232613    15.127564    51.062510
min             1.703419   -60.000000    70.000000
25%             3.010605     0.000000   124.000000
50%             3.769325     0.000000   156.000000
75%             4.667556     0.000000   193.000000
max             8.781495    60.000000   364.000000